.top{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans' , 'sans-serif';
    z-index: 999;
}

.topLeft, .topRight{
   flex: 3;
   display: flex;
   align-items: center;
   justify-content: center;
}

.topIcon{
  font-size: 2opx;
  margin-right: 20px;  
  color: #666;
  cursor: pointer;

}
.topCenter{
    flex: 6;
}

.topImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px; 
    font-weight: 350;
    cursor: pointer;
}

.topSearchIcon{
    font-size: 18px;
    cursor: pointer;
    color: #666;
    margin-left: 15px;
}