.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
        ), 
        url('https://images.unsplash.com/photo-1512386233331-f023884a92e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size:cover;
    
}

.loginTitle{
    font-size: 50px;

}


.loginForm{
margin-top: 20px;
display: flex;
flex-direction: column;
}

.loginForm > label{
  margin:10px 0;

}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.loginButton{
    cursor: pointer;
    margin-top: 20px;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}
.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(243, 187, 187);
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: teal;
    color: white;
    border-radius: 10px;
    



}