.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
        ), 
        url('https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGVza3RvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size:cover;
    
}

.registerTitle{
    font-size: 50px;

}


.registerForm{
margin-top: 20px;
display: flex;
flex-direction: column;
}

.registerForm > label{
  margin:10px 0;

}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.registerButton{
    cursor: pointer;
    margin-top: 20px;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: lightcoral;
    color: white;
    border-radius: 10px;
    



}